body {
    margin: 0px;
    background-color: black;
    color: white;
}

.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#Heading {
    text-align: center;
    font-size: 100px;
    color: white;
}

.menu {
    font-size: 40px;
    background-color: white;
    width: 2515px;
    height: 80px;
    padding: 0px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu a {
    margin-top: 0px;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    height: 70px;
}

#Home {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-right: 0px;
    background-color: black;
}

#Github {
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-left: 0px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#About {
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#Github:hover {
    color: black;
    background-color: gray;
}

#About:hover {
    color: black;
    background-color: gray;
}

ul {
    list-style-type: none;
}

.desc {
    color: black;
    text-align: center;
    background-color: white;
    font-size: 30px;
}

#desc-head {
    font-size: 50px;
}