.Header {
    display: flex;
    justify-content: center;
}
.Header h1 {
    font-size: 100px;
}

li {
    list-style: none;
}

.task ul li label {
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: center;
}

.task {
    text-align: center;
}